################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex01_Informatics/.vs/Ex01_Informatics/v15
